*.log
*.sc
*.swp
*.orig
*.class
*.iml
.run
.history
.idea
.idea_modules
.classpath
.project
.settings
.DS_Store
.java-version
.bloop
.metals
.bsp
project/project
project/target
project/metals.sbt
project/*-shim.sbt
target
ext/
server/src/test/resources/sasl/server/*.crt
server/src/test/resources/sasl/server/*.csr
server/src/test/resources/sasl/server/*.jks

gl-code-quality-report.json
gl-sast-report.json
gl-secret-detection-report.json
semgrep.sarif