*.log
*.sc
*.swp
*.orig
*.class
*.iml
.history
.idea
.idea_modules
.classpath
.project
.settings
.DS_Store
.java-version
.bloop
.metals
project/project
project/target
project/metals.sbt
project/*-shim.sbt
target
